In [411]:
import pandas as pd
import altair as alt
alt.renderers.set_embed_options(theme='light')

RendererRegistry.enable('default')

Trend line of what yLUNA is being used for?  PRISM Farm, yLUNA Staking, LPing, or Nothing.

In [412]:
def claim(claim_hash):
    df = pd.read_json(
            f"https://api.flipsidecrypto.com/api/v2/queries/{claim_hash}/data/latest",
            convert_dates=["BLOCK_TIMESTAMP"])
    df.columns = [c.lower() for c in df.columns]
    return df

In [413]:
def get_url(url):
    return pd.read_csv(url, index_col=0)

In [414]:
refract = 'c5ac5e60-7da0-429f-98e8-19ccdd77d835'
refract_cluna = '5b0257c3-e93b-49d4-93f6-e370bc3b3f50'
ystaking = '3ff0fc49-5a0d-4cdf-a8ab-33f8ea7e755f'
swaps = 'a3b3ad75-15b2-4a40-9850-00e8c1c33ef0'
router = '69b149fb-81ba-4860-aac1-b17f0d6d7688'

In [415]:
refract_df = claim(refract)
refract_cluna_df = claim(refract_cluna)
ystaking_df = claim(ystaking)
swaps_df = claim(swaps)
router_df = claim(router)

In [416]:
refract_df.to_csv('../data/refract.csv')
refract_cluna_df.to_csv('../data/refract_cluna.csv')
ystaking_df.to_csv('../data/ystaking.csv')
swaps_df.to_csv('../data/swaps.csv')
router_df.to_csv('../data/router.csv')

In [417]:
refract_df = pd.read_csv('../data/refract.csv', index_col=0)
refract_cluna_df = pd.read_csv('../data/refract_cluna.csv', index_col=0)
ystaking_df = pd.read_csv('../data/ystaking.csv', index_col=0)
swaps_df = pd.read_csv('../data/swaps.csv', index_col=0)
router_df = pd.read_csv('../data/router.csv', index_col=0)

### Refract

In [418]:
refract_cluna_df.head()

,0_action,0_amount,1_amount,1_contract_address,2_amount,2_contract_address,block_timestamp,event_index,from_,msg_index,to_,tx_id
0,transfer_from,180.000000,180.000000,terra17wkadg0tah554r35x6wvff0y5s7ve8npcjfuhz,180.000000,terra1tlgelulz9pdkhls6uglfn5lmxarx7f2gxtdzh2,2022-02-14 13:24:17.166,1,terra1xc6kttvedkf96f9rz0klc3d8ff7sfy9hjrxg6v,1,terra1xw3h7jsmxvh6zse74e4099c6gl03fnmxpep76h,349C9F2F540E2C0B39034F5B8D5BBC114E468C71150A6E...
1,transfer_from,0.018917,0.018917,terra17wkadg0tah554r35x6wvff0y5s7ve8npcjfuhz,0.018917,terra1tlgelulz9pdkhls6uglfn5lmxarx7f2gxtdzh2,2022-02-14 16:29:56.862,1,terra1jxaq9xnympm5l4yvccdayyara65uvphu6l8tva,1,terra1xw3h7jsmxvh6zse74e4099c6gl03fnmxpep76h,D6644B621DD9A31DBD0800BC6D9D5889ED5EEB861DF702...
2,transfer_from,265.542139,265.542139,terra17wkadg0tah554r35x6wvff0y5s7ve8npcjfuhz,265.542139,terra1tlgelulz9pdkhls6uglfn5lmxarx7f2gxtdzh2,2022-02-14 15:21:18.039,1,terra1dyu2rvykn5wkhp2jwa90a9fkqwk88z62mk47nf,1,terra1xw3h7jsmxvh6zse74e4099c6gl03fnmxpep76h,D5C7595087DBFEDFE0F7A31E424FDAEE004B6322861739...
3,transfer_from,1.841609,1.841609,terra17wkadg0tah554r35x6wvff0y5s7ve8npcjfuhz,1.841609,terra1tlgelulz9pdkhls6uglfn5lmxarx7f2gxtdzh2,2022-02-14 16:59:19.788,1,terra10xt0yhdullk2n8st46dja4tazkrckkyvlsjfac,1,terra1xw3h7jsmxvh6zse74e4099c6gl03fnmxpep76h,ED9B70CD5DC09AA1DA555929ADCC8D173C1E6C01CFECB6...
4,transfer_from,1.000000,1.000000,terra17wkadg0tah554r35x6wvff0y5s7ve8npcjfuhz,1.000000,terra1tlgelulz9pdkhls6uglfn5lmxarx7f2gxtdzh2,2022-02-14 15:33:56.849,1,terra1mkhgc2tq33n90uaa5nc4yrhgp86xy79e8mtxz5,1,terra1xw3h7jsmxvh6zse74e4099c6gl03fnmxpep76h,6B6BE138D1F9C2079687DD316C5F1C7E9928E1C9331412...

In [419]:
refract_cluna_df['user'] = refract_cluna_df['from_']

In [420]:
refract_cluna_df.shape

(1767, 13)

In [421]:
refract_cluna_df[refract_cluna_df.user=='terra1uh37lsydrup8vqvvttd53qwj93ft9x7572g62q']

,0_action,0_amount,1_amount,1_contract_address,2_amount,2_contract_address,block_timestamp,event_index,from_,msg_index,to_,tx_id,user
881,transfer_from,6.028406,6.028406,terra17wkadg0tah554r35x6wvff0y5s7ve8npcjfuhz,6.028406,terra1tlgelulz9pdkhls6uglfn5lmxarx7f2gxtdzh2,2022-02-28 18:25:39.031,1,terra1uh37lsydrup8vqvvttd53qwj93ft9x7572g62q,1,terra1xw3h7jsmxvh6zse74e4099c6gl03fnmxpep76h,A28152A997953C3F845E5A1A7DAF86312FAA301392DE17...,terra1uh37lsydrup8vqvvttd53qwj93ft9x7572g62q
1000,transfer_from,5.172802,5.172802,terra17wkadg0tah554r35x6wvff0y5s7ve8npcjfuhz,5.172802,terra1tlgelulz9pdkhls6uglfn5lmxarx7f2gxtdzh2,2022-02-28 19:47:31.424,1,terra1uh37lsydrup8vqvvttd53qwj93ft9x7572g62q,1,terra1xw3h7jsmxvh6zse74e4099c6gl03fnmxpep76h,E5024C01400407E1C538E1969FDE71C6CA43F49A71D1B6...,terra1uh37lsydrup8vqvvttd53qwj93ft9x7572g62q
1163,transfer_from,10.233401,10.233401,terra17wkadg0tah554r35x6wvff0y5s7ve8npcjfuhz,10.233401,terra1tlgelulz9pdkhls6uglfn5lmxarx7f2gxtdzh2,2022-02-24 19:41:51.724,1,terra1uh37lsydrup8vqvvttd53qwj93ft9x7572g62q,1,terra1xw3h7jsmxvh6zse74e4099c6gl03fnmxpep76h,A05AC252DA3FB4090AB88BFCC08232591674C54480AFC6...,terra1uh37lsydrup8vqvvttd53qwj93ft9x7572g62q
1571,transfer_from,5.114376,5.114376,terra17wkadg0tah554r35x6wvff0y5s7ve8npcjfuhz,5.114376,terra1tlgelulz9pdkhls6uglfn5lmxarx7f2gxtdzh2,2022-02-23 07:48:24.069,1,terra1uh37lsydrup8vqvvttd53qwj93ft9x7572g62q,1,terra1xw3h7jsmxvh6zse74e4099c6gl03fnmxpep76h,5CDF87523A2D6EB5EDFE1FB549232B5F4EC2CA979EE719...,terra1uh37lsydrup8vqvvttd53qwj93ft9x7572g62q

In [422]:
refract_cluna_df_pol = refract_cluna_df[['block_timestamp','tx_id','user','0_action','0_amount']]
refract_cluna_df_pol.columns = ['block_timestamp','tx_id','user','action','amount']

In [423]:
refract_cluna_df_pol['asset_given'] = 'cLUNA'
refract_cluna_df_pol['asset_received'] = 'yLUNA'

<ipython-input-423-86ae7f107083>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  refract_cluna_df_pol['asset_given'] = 'cLUNA'
<ipython-input-423-86ae7f107083>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  refract_cluna_df_pol['asset_received'] = 'yLUNA'

In [424]:
refract_cluna_df_pol['operation'] = 'refraction'

<ipython-input-424-0f1d2c055553>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  refract_cluna_df_pol['operation'] = 'refraction'

In [425]:
refract_df_pol[refract_df_pol.user=='terra1uh37lsydrup8vqvvttd53qwj93ft9x7572g62q']

,block_timestamp,tx_id,user,action,amount,asset_given,asset_received,operation,hr,day,amount_signed
3077,2022-02-14 17:40:44.210,20C3745D6BEFF089670317C7445D3A2F79F588DE88EB3A...,terra1uh37lsydrup8vqvvttd53qwj93ft9x7572g62q,bond_split,7.976801,LUNA,yLUNA,refraction,2022-02-14 17:00:00.000,2022-02-14,7.976801

In [426]:
refract_cluna_df_pol['hr'] = refract_cluna_df_pol.block_timestamp.str[:-9] + '00:00.000'
refract_cluna_df_pol['day'] = refract_cluna_df_pol.block_timestamp.str[:-13]

<ipython-input-426-d92955c5342a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  refract_cluna_df_pol['hr'] = refract_cluna_df_pol.block_timestamp.str[:-9] + '00:00.000'
<ipython-input-426-d92955c5342a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  refract_cluna_df_pol['day'] = refract_cluna_df_pol.block_timestamp.str[:-13]

In [427]:
refract_df_pol.head()

,block_timestamp,tx_id,user,action,amount,asset_given,asset_received,operation,hr,day,amount_signed
0,2022-02-14 16:28:44.314,23F63DF850EBD1A94822B5DE5BD3B9208DEEAC7FFF1C25...,terra1smusxgwactgq9w4566lgr0p4fvxdwuxew257u9,bond_split,216.498676,LUNA,yLUNA,refraction,2022-02-14 16:00:00.000,2022-02-14,216.498676
1,2022-02-14 12:33:18.758,B6AD4BADF9CE783AB6BBDA4C4ADD01F663D079A61C0900...,terra170sp9lhr9689lhwxv7hud5qgz26zlxvvnrl6kf,bond_split,12.000000,LUNA,yLUNA,refraction,2022-02-14 12:00:00.000,2022-02-14,12.000000
2,2022-02-14 12:24:45.981,E0656127AB4575D129F1E5D42F5019F5129B1845D05D46...,terra1q9uurxw5cv4e8axqfluw2zxx0esl40z8pv2zj5,bond_split,8.745652,LUNA,yLUNA,refraction,2022-02-14 12:00:00.000,2022-02-14,8.745652
3,2022-02-14 14:04:43.220,FBEEB7090427833FD276113CAE700793D7024A8A9E74A3...,terra1x5rutmkr9q6cvr4mhapy0x3aav9jq3qt8n8j0k,bond_split,2.774851,LUNA,yLUNA,refraction,2022-02-14 14:00:00.000,2022-02-14,2.774851
4,2022-02-14 12:55:22.960,DE0CA803E9A11CF1A68D5FE84FC407071D6EB4AD16B65E...,terra15p0qacpqxzdvmlprvds99wvlsa8c24e2fur7hg,bond_split,100.000000,LUNA,yLUNA,refraction,2022-02-14 12:00:00.000,2022-02-14,100.000000

In [428]:
refract_cluna_df_pol['amount_signed'] = refract_cluna_df_pol.amount
refract_cluna_df_pol.head()

<ipython-input-428-0e97a4665e42>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  refract_cluna_df_pol['amount_signed'] = refract_cluna_df_pol.amount

,block_timestamp,tx_id,user,action,amount,asset_given,asset_received,operation,hr,day,amount_signed
0,2022-02-14 13:24:17.166,349C9F2F540E2C0B39034F5B8D5BBC114E468C71150A6E...,terra1xc6kttvedkf96f9rz0klc3d8ff7sfy9hjrxg6v,transfer_from,180.000000,cLUNA,yLUNA,refraction,2022-02-14 13:00:00.000,2022-02-14,180.000000
1,2022-02-14 16:29:56.862,D6644B621DD9A31DBD0800BC6D9D5889ED5EEB861DF702...,terra1jxaq9xnympm5l4yvccdayyara65uvphu6l8tva,transfer_from,0.018917,cLUNA,yLUNA,refraction,2022-02-14 16:00:00.000,2022-02-14,0.018917
2,2022-02-14 15:21:18.039,D5C7595087DBFEDFE0F7A31E424FDAEE004B6322861739...,terra1dyu2rvykn5wkhp2jwa90a9fkqwk88z62mk47nf,transfer_from,265.542139,cLUNA,yLUNA,refraction,2022-02-14 15:00:00.000,2022-02-14,265.542139
3,2022-02-14 16:59:19.788,ED9B70CD5DC09AA1DA555929ADCC8D173C1E6C01CFECB6...,terra10xt0yhdullk2n8st46dja4tazkrckkyvlsjfac,transfer_from,1.841609,cLUNA,yLUNA,refraction,2022-02-14 16:00:00.000,2022-02-14,1.841609
4,2022-02-14 15:33:56.849,6B6BE138D1F9C2079687DD316C5F1C7E9928E1C9331412...,terra1mkhgc2tq33n90uaa5nc4yrhgp86xy79e8mtxz5,transfer_from,1.000000,cLUNA,yLUNA,refraction,2022-02-14 15:00:00.000,2022-02-14,1.000000

### Refract

In [429]:
refract_df['user'] = refract_df.apply(lambda row: row.from_ if row['0_action']=='bond_split' else row.to_, axis=1)

In [430]:
refract_df.shape

(8888, 16)

In [431]:
refract_df[refract_df.user=='terra1uh37lsydrup8vqvvttd53qwj93ft9x7572g62q']

,0_action,0_amount,1_amount,1_contract_address,2_amount,2_contract_address,3_contract_address,block_timestamp,event_index,from_,msg_index,to_,tx_id,bonded,minted,user
3077,bond_split,7.976801,7.976801,terra13zaagrrrxj47qjwczsczujlvnnntde7fdt0mau,7.976801,terra17wkadg0tah554r35x6wvff0y5s7ve8npcjfuhz,terra1tlgelulz9pdkhls6uglfn5lmxarx7f2gxtdzh2,2022-02-14 17:40:44.210,4,terra1uh37lsydrup8vqvvttd53qwj93ft9x7572g62q,0,terra1xw3h7jsmxvh6zse74e4099c6gl03fnmxpep76h,20C3745D6BEFF089670317C7445D3A2F79F588DE88EB3A...,7.976801,7.976801,terra1uh37lsydrup8vqvvttd53qwj93ft9x7572g62q

In [432]:
refract_df_pol = refract_df[['block_timestamp','tx_id','user','0_action','0_amount']]
refract_df_pol.columns = ['block_timestamp','tx_id','user','action','amount']

In [433]:
refract_df_pol['asset_given'] = refract_df_pol.apply(lambda row: 'LUNA' if row['action']=='bond_split' else 'yLUNA',axis=1)
refract_df_pol['asset_received'] = refract_df_pol.apply(lambda row: 'yLUNA' if row['action']=='bond_split' else 'LUNA',axis=1)

<ipython-input-433-c7dce5efbdbc>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  refract_df_pol['asset_given'] = refract_df_pol.apply(lambda row: 'LUNA' if row['action']=='bond_split' else 'yLUNA',axis=1)
<ipython-input-433-c7dce5efbdbc>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  refract_df_pol['asset_received'] = refract_df_pol.apply(lambda row: 'yLUNA' if row['action']=='bond_split' else 'LUNA',axis=1)

In [434]:
refract_df_pol['operation'] = 'refraction'

<ipython-input-434-d46422d5db12>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  refract_df_pol['operation'] = 'refraction'

In [435]:
refract_df_pol[refract_df_pol.user=='terra1uh37lsydrup8vqvvttd53qwj93ft9x7572g62q']

,block_timestamp,tx_id,user,action,amount,asset_given,asset_received,operation
3077,2022-02-14 17:40:44.210,20C3745D6BEFF089670317C7445D3A2F79F588DE88EB3A...,terra1uh37lsydrup8vqvvttd53qwj93ft9x7572g62q,bond_split,7.976801,LUNA,yLUNA,refraction

In [436]:
refract_df_pol['hr'] = refract_df_pol.block_timestamp.str[:-9] + '00:00.000'
refract_df_pol['day'] = refract_df_pol.block_timestamp.str[:-13]

<ipython-input-436-4d48d51f60b3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  refract_df_pol['hr'] = refract_df_pol.block_timestamp.str[:-9] + '00:00.000'
<ipython-input-436-4d48d51f60b3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  refract_df_pol['day'] = refract_df_pol.block_timestamp.str[:-13]

In [437]:
refract_df_pol.head()

,block_timestamp,tx_id,user,action,amount,asset_given,asset_received,operation,hr,day
0,2022-02-14 16:28:44.314,23F63DF850EBD1A94822B5DE5BD3B9208DEEAC7FFF1C25...,terra1smusxgwactgq9w4566lgr0p4fvxdwuxew257u9,bond_split,216.498676,LUNA,yLUNA,refraction,2022-02-14 16:00:00.000,2022-02-14
1,2022-02-14 12:33:18.758,B6AD4BADF9CE783AB6BBDA4C4ADD01F663D079A61C0900...,terra170sp9lhr9689lhwxv7hud5qgz26zlxvvnrl6kf,bond_split,12.000000,LUNA,yLUNA,refraction,2022-02-14 12:00:00.000,2022-02-14
2,2022-02-14 12:24:45.981,E0656127AB4575D129F1E5D42F5019F5129B1845D05D46...,terra1q9uurxw5cv4e8axqfluw2zxx0esl40z8pv2zj5,bond_split,8.745652,LUNA,yLUNA,refraction,2022-02-14 12:00:00.000,2022-02-14
3,2022-02-14 14:04:43.220,FBEEB7090427833FD276113CAE700793D7024A8A9E74A3...,terra1x5rutmkr9q6cvr4mhapy0x3aav9jq3qt8n8j0k,bond_split,2.774851,LUNA,yLUNA,refraction,2022-02-14 14:00:00.000,2022-02-14
4,2022-02-14 12:55:22.960,DE0CA803E9A11CF1A68D5FE84FC407071D6EB4AD16B65E...,terra15p0qacpqxzdvmlprvds99wvlsa8c24e2fur7hg,bond_split,100.000000,LUNA,yLUNA,refraction,2022-02-14 12:00:00.000,2022-02-14

In [438]:
refract_df_pol['amount_signed'] = refract_df_pol.apply(lambda row: -row.amount 
                                                if row.action=='burn_from' else row.amount,axis=1)
refract_df_pol.head()

<ipython-input-438-1840e7fb8c11>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  refract_df_pol['amount_signed'] = refract_df_pol.apply(lambda row: -row.amount

,block_timestamp,tx_id,user,action,amount,asset_given,asset_received,operation,hr,day,amount_signed
0,2022-02-14 16:28:44.314,23F63DF850EBD1A94822B5DE5BD3B9208DEEAC7FFF1C25...,terra1smusxgwactgq9w4566lgr0p4fvxdwuxew257u9,bond_split,216.498676,LUNA,yLUNA,refraction,2022-02-14 16:00:00.000,2022-02-14,216.498676
1,2022-02-14 12:33:18.758,B6AD4BADF9CE783AB6BBDA4C4ADD01F663D079A61C0900...,terra170sp9lhr9689lhwxv7hud5qgz26zlxvvnrl6kf,bond_split,12.000000,LUNA,yLUNA,refraction,2022-02-14 12:00:00.000,2022-02-14,12.000000
2,2022-02-14 12:24:45.981,E0656127AB4575D129F1E5D42F5019F5129B1845D05D46...,terra1q9uurxw5cv4e8axqfluw2zxx0esl40z8pv2zj5,bond_split,8.745652,LUNA,yLUNA,refraction,2022-02-14 12:00:00.000,2022-02-14,8.745652
3,2022-02-14 14:04:43.220,FBEEB7090427833FD276113CAE700793D7024A8A9E74A3...,terra1x5rutmkr9q6cvr4mhapy0x3aav9jq3qt8n8j0k,bond_split,2.774851,LUNA,yLUNA,refraction,2022-02-14 14:00:00.000,2022-02-14,2.774851
4,2022-02-14 12:55:22.960,DE0CA803E9A11CF1A68D5FE84FC407071D6EB4AD16B65E...,terra15p0qacpqxzdvmlprvds99wvlsa8c24e2fur7hg,bond_split,100.000000,LUNA,yLUNA,refraction,2022-02-14 12:00:00.000,2022-02-14,100.000000

In [439]:
all_refreact = refract_df_pol.append(refract_cluna_df_pol)

In [440]:
daily_delta_rf = all_refreact.groupby('day').amount_signed.sum().reset_index()
daily_delta_rf = daily_delta_rf.sort_values(by='day')
daily_delta_rf['cumsum'] = daily_delta_rf.amount_signed.cumsum().apply(lambda x: round(x,2))
daily_delta_rf.columns = ['Time', 'Amount signed', 'Amount']
daily_delta_rf['Type'] = 'yLuna circulating'

In [441]:
domain = ['yLuna circulating']
range_ = ['lightblue']
max_date = daily_delta_rf['Time'].max()
mars_price_chart = alt.Chart(daily_delta_rf).mark_line(point = True).encode(
    x=alt.X('Time:T',scale=alt.Scale(domain=(daily_delta_rf.Time.min(),max_date))),
    y=alt.X('Amount:Q',scale=alt.Scale(domain=(0,daily_delta_rf['Amount'].max()+100000))),
    color=alt.Color('Type:N', 
                sort=domain,
                scale=alt.Scale(domain=domain, range=range_),
                legend=alt.Legend(
                            orient='none',
                            padding=5,
                            legendY=0,
                            direction='horizontal')),
    tooltip=[alt.Tooltip('Time:T', format='%Y-%m-%d %H:%M'),'Amount:Q']
).properties(width=800).configure_view(strokeOpacity=0)
mars_price_chart

alt.Chart(...)

### yStaking

In [442]:
ystaking_df.head()

,0_action,0_amount,1_action,1_amount,block_timestamp,event_index,from_,hr,msg_index,to_,tx_id
0,send,2.889441,bond,2.889441,2022-02-16 02:18:56.229,1,terra1rvvhec2zgultp3uvjs278yzn0ts2wldmlwunax,2022-02-16 02:00:00.000,0,terra1p7jp8vlt57cf8qwazjg58qngwvarmszsamzaru,780D505D7942CAE5837F994EBCA9054AED03526A555501...
1,send,10.022220,bond,10.022220,2022-02-16 10:41:33.123,1,terra1k8lssx4v42efe5mhplcwfer7vyljqq3qw3v856,2022-02-16 10:00:00.000,0,terra1p7jp8vlt57cf8qwazjg58qngwvarmszsamzaru,62748116DD64ECC0840DCF9463A426A13BA946D73226BB...
2,send,73.713479,bond,73.713479,2022-02-16 20:18:54.710,1,terra1kn5a6yd9xnprygklgmpn753phaksne2qxmqcm3,2022-02-16 20:00:00.000,0,terra1p7jp8vlt57cf8qwazjg58qngwvarmszsamzaru,084252F31766579956BA283FD6EBD92D97A72AB29DC89E...
3,send,0.171457,bond,0.171457,2022-02-16 16:36:19.873,1,terra1s78xphdlh9nc3xgncfk7zk9f5wak2wea6ljurw,2022-02-16 16:00:00.000,0,terra1p7jp8vlt57cf8qwazjg58qngwvarmszsamzaru,3C620714D1B97543B8AC5F886076407FA89F218291F124...
4,unbond,3478.000000,transfer,3478.000000,2022-02-16 10:57:40.568,1,terra1p7jp8vlt57cf8qwazjg58qngwvarmszsamzaru,2022-02-16 10:00:00.000,0,terra1n8utaly5st5du65fgaqawhrkvm0qrlfws9kymc,599EFDD53CC110C87B1E951AF0E50F8939E8018CD39D40...

In [443]:
ystaking_df['action'] = ystaking_df.apply(lambda row: row['0_action'] if row['0_action']=='unbond' else row['1_action'],axis=1)
ystaking_df['amount'] = ystaking_df.apply(lambda row: row['0_amount'] if row['0_action']=='unbond' else row['1_amount'],axis=1)
ystaking_df['user'] = ystaking_df.apply(lambda row: row['to_'] if row.action=='unbond' else row['from_'],axis=1)
ystaking_df['asset_given'] = ystaking_df.apply(lambda row: None if row.action=='unbond' else 'yLUNA',axis=1)
ystaking_df['asset_received'] = ystaking_df.apply(lambda row: 'yLUNA' if row.action=='unbond' else None,axis=1)
ystaking_df['day'] = ystaking_df.hr.str[:-13]

In [444]:
ystaking_df = ystaking_df[['block_timestamp','tx_id','hr','day','action','amount','user','asset_given','asset_received']]

In [445]:
ystaking_df

,block_timestamp,tx_id,hr,day,action,amount,user,asset_given,asset_received
0,2022-02-16 02:18:56.229,780D505D7942CAE5837F994EBCA9054AED03526A555501...,2022-02-16 02:00:00.000,2022-02-16,bond,2.889441,terra1rvvhec2zgultp3uvjs278yzn0ts2wldmlwunax,yLUNA,None
1,2022-02-16 10:41:33.123,62748116DD64ECC0840DCF9463A426A13BA946D73226BB...,2022-02-16 10:00:00.000,2022-02-16,bond,10.022220,terra1k8lssx4v42efe5mhplcwfer7vyljqq3qw3v856,yLUNA,None
2,2022-02-16 20:18:54.710,084252F31766579956BA283FD6EBD92D97A72AB29DC89E...,2022-02-16 20:00:00.000,2022-02-16,bond,73.713479,terra1kn5a6yd9xnprygklgmpn753phaksne2qxmqcm3,yLUNA,None
3,2022-02-16 16:36:19.873,3C620714D1B97543B8AC5F886076407FA89F218291F124...,2022-02-16 16:00:00.000,2022-02-16,bond,0.171457,terra1s78xphdlh9nc3xgncfk7zk9f5wak2wea6ljurw,yLUNA,None
4,2022-02-16 10:57:40.568,599EFDD53CC110C87B1E951AF0E50F8939E8018CD39D40...,2022-02-16 10:00:00.000,2022-02-16,unbond,3478.000000,terra1n8utaly5st5du65fgaqawhrkvm0qrlfws9kymc,None,yLUNA
...,...,...,...,...,...,...,...,...,...
6715,2022-03-05 02:13:49.456,0C193964ACA70B32A1E64AC2E2E6EF7335D581AF1572CA...,2022-03-05 02:00:00.000,2022-03-05,bond,3.226230,terra1c6x5qcq899232hjfg5anhtr2z22fj20tg0dfmg,yLUNA,None
6716,2022-03-05 01:51:41.578,94C8BC44AB46F8CC697B55C7CCBFE8E0EB9DB5342493FD...,2022-03-05 01:00:00.000,2022-03-05,bond,183.076773,terra1cntd7rqu98aa788z0wmjgrfz8gsw728vazrf3x,yLUNA,None
6717,2022-03-05 01:53:26.126,407931822EE2AEF452E619DBC4FBDD4383FDAA8958D500...,2022-03-05 01:00:00.000,2022-03-05,bond,3.027776,terra1g4pcakhxe5wn509ck5g5m9mkxlax6svtxffz5x,yLUNA,None
6718,2022-03-05 12:16:02.064,3AACDF33CEB6EC2397B8D8C5AD129FB28EA1274C86EC62...,2022-03-05 12:00:00.000,2022-03-05,bond,0.170074,terra14fhssytrujau0mp40g4sctddm52qcgegp698up,yLUNA,None
6719,2022-03-04 16:08:10.639,BE4B08FE2C5687A2E46DD9F086B8BA858A5712119335A2...,2022-03-04 16:00:00.000,2022-03-04,bond,3.304290,terra1ulatfk73p5npu6lcvupg2attts2ecjr4rm3gna,yLUNA,None

In [446]:
ystaking_df[ystaking_df.user=='terra12j6p3tausehd7495as98vql74p0f9t2ahnafsv']

,block_timestamp,tx_id,hr,day,action,amount,user,asset_given,asset_received
5617,2022-02-28 18:31:55.044,378D0A25C6077B47F455939F69FBB5C0F3D09871518CA7...,2022-02-28 18:00:00.000,2022-02-28,bond,29.352984,terra12j6p3tausehd7495as98vql74p0f9t2ahnafsv,yLUNA,None

In [447]:
ystaking_df['amount_signed'] = ystaking_df.apply(lambda row: row.amount if row.action=='bond' else -row.amount,axis=1)

In [448]:
daily_delta_stk = ystaking_df.groupby('day').amount_signed.sum().reset_index()
daily_delta_stk = daily_delta_stk.sort_values(by='day')
daily_delta_stk['cumsum'] = daily_delta_stk.amount_signed.cumsum().apply(lambda x: round(x,2))
daily_delta_stk.columns = ['Time', 'Amount signed', 'Amount']
daily_delta_stk['Type'] = 'yLuna staked'

In [449]:
def get_max_domain_date(df, time_field, n_hours):
    if((pd.Timestamp(df[time_field].max()) - 
                pd.Timestamp(df[time_field].min())).total_seconds()/3600 < n_hours):
        max_date = (pd.Timestamp(df[time_field].min()) + pd.to_timedelta(n_hours, unit='h')).strftime("%Y-%m-%dT%H:%M:%SZ")
    else:
        max_date = df[time_field].max()
    return max_date

In [450]:
domain = ['yLuna staked']
range_ = ['#f8936d']
max_date = daily_delta_stk['Time'].max()
mars_price_chart = alt.Chart(daily_delta_stk).mark_line(point = True).encode(
    x=alt.X('Time:T',scale=alt.Scale(domain=(daily_delta_stk.Time.min(),max_date))),
    y=alt.X('Amount:Q',scale=alt.Scale(domain=(0,daily_delta_stk['Amount'].max()+100000))),
    color=alt.Color('Type:N', 
                sort=domain,
                scale=alt.Scale(domain=domain, range=range_),
                legend=alt.Legend(
                            orient='none',
                            padding=5,
                            legendY=0,
                            direction='horizontal')),
    tooltip=[alt.Tooltip('Time:T', format='%Y-%m-%d %H:%M'),'Amount:Q']
).properties(width=800).configure_view(strokeOpacity=0)
mars_price_chart

alt.Chart(...)

## All deltas

In [451]:
all_deltas = daily_delta_rf.append(daily_delta_stk)

In [452]:
domain = ['yLuna staked','yLuna circulating']
range_ = ['#f8936d','lightblue']
max_date = all_deltas['Time'].max()
mars_price_chart = alt.Chart(all_deltas).mark_line(point = True).encode(
    x=alt.X('Time:T',scale=alt.Scale(domain=(all_deltas.Time.min(),max_date))),
    y=alt.X('Amount:Q',scale=alt.Scale(domain=(0,all_deltas['Amount'].max()+100000))),
    color=alt.Color('Type:N', 
                sort=domain,
                scale=alt.Scale(domain=domain, range=range_),
                legend=alt.Legend(
                            orient='none',
                            padding=5,
                            legendY=0,
                            direction='horizontal')),
    tooltip=[alt.Tooltip('Time:T', format='%Y-%m-%d %H:%M'),'Amount:Q']
).properties(width=800).configure_view(strokeOpacity=0)
mars_price_chart

alt.Chart(...)